            <a href="/eje/admin">
                <div class="tile">
                    <img src="/images/icons/adjustment.svg" />
                    <div class="title"><%= adminMenuButton %></div>
                </div>
            </a>