<div class="content">
    <div id="magicEye">
        <div class="plane main">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <%= footer.title %>
    <div class="right"><span>© 2019 <a href="https://ejednani.cz/">eJednání.cz</a>, <a href="http://krtkovo.eu/">Ondřej Kotas</a></div>

</div>