<div id="header">
    <a href="/">
        <img src="/images/logotyp_web.svg" alt="logo eJednání.cz" />
    </a>

    <div class="right" id="mobileMenuContainer">
        <a href="javascript:hideShowMenu();" title="<%= header.showHideMenu %>">
            <img src="/images/icons/menu.svg" alt="menu" />
        </a>
    </div>
</div>